@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@400;500;600;700&family=Rubik:wght@400;500;700&display=swap'); /* Rajdhani */
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&display=swap');

html,
#root,
.app {
  font-family: "Rajdhani", sans-serif;
  background-color: #F5F5F5;
  box-sizing: border-box;
  height: 100%;
  overflow-x: hidden;
  margin-bottom: 5rem;
}

.container {
  width: 100%;
  margin: 0 auto;
}

.navbar {
  position: fixed;
  top: 2rem; /* it will stick to the top of the .container when scrolling */
  padding: 20px;
  backdrop-filter: blur(40px);
  background-color: var(--token-87dc011e-b53b-471d-8540-422b5d646acd, rgba(229, 229, 229, 0.4));
  z-index: 10;
  box-sizing: border-box;
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: height 0.5s ease;
}

.flex-column-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.section {
  margin-top: 8rem;
  width: 100%;
  text-align: center;
}

.section--header {
  margin: 0;
  font-size: 28px;
  letter-spacing: 0;
  font-family: "Libre Baskerville", sans-serif;
}

.home {
  height: 100%;
}

.hero{
  display: flex;
  padding: 3rem 2rem;
}

.hero--left{
  width: 100%;
  align-items: center;
  margin-top: 5rem;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.hero--title{
  font-size: 36px;
  margin: 0;
  font-weight: 700;
  letter-spacing: 0;
  font-family: "Libre Baskerville", sans-serif;
}

.hero--description{
  margin-top: 1rem;
}

.hero--description_text {
  margin-top: 2rem; 
  font-size: 16px;  
}

.hero--right {
  position: relative;
  margin-left: auto;
  align-items: center;
  padding: 5rem 0;
  justify-content: center;
  height: 310px;
}

.hero--avatar_container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 270px;
  width: 270px;
  border-radius: 50%;
  background-color: #EDEDED;
  border-style: solid;
  border-width: 20px;
  border-color: rgb(197,172,140);
}

.avatar{
  height: 250px;
  width: 250px;
}

.hero--quote {
  border-radius: 16px;
  position: absolute;
  left: 15px;
  right: 15px;
  bottom: 30px; /* Adjust this value to your desired position */
  width: 270px;
  background-color: rgb(237, 237, 237);
  padding: 2px;
  align-items: center;
  justify-content: center;
  display: flex;
  text-align: center;
  opacity: 0.7;
}

.hero--quote > h4 {
  opacity: 1;
}

.card--button{
  height: 3rem;
  max-width: 30%; 
  padding: 5px 22px; 
  border-radius: 45px; 
  background-color: #EDEDED;
  display: flex; 
  align-items: center; 
  justify-content: center;
  border-style: solid;
  transition: transform 0.3s ease-in-out;
}

.card--button:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.work--cards-container {
  width: 100%;
  margin-top: 4rem;
  display: flex;           /* Added */
  flex-direction: column;  /* Added */
  gap: 1.5rem;
}

.work-card {
  width: 100%;
  background-color: #EDEDED;
  position: relative;
  border-radius: 20px;
  border-style: solid;
  border-width: 4px;
  border-color: #9B3B12;
  box-shadow: inset;
  box-shadow: #9B3B12;
}

.work-card::before {
  content: "";
  display: block;
  padding-top: 100%; /* This maintains the aspect ratio */
}

.work-card-content {
  position: absolute;
  border-radius: 16px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  inset: 0px;
}

.work-image {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  object-position: center;
  object-fit: cover;
  image-rendering: auto;
}

.linear-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%; /* Initially covering 20% of the image from the bottom */
  background: linear-gradient(0deg, rgba(13,13,13,0.8618040966386554) 0%, rgba(11,11,14,0.8001794467787114) 34%, rgba(97,97,108,0.5592830882352942) 68%);
  border-radius: inherit;
  opacity: 0.5;
  transition: opacity 0.2s ease; /* Smooth transition for the height */
}

.work--card-arrow {
  background-color: black;
  border-radius: 50%;
  opacity: 0;
  align-content: center;
  align-items: center;
  display: flex;
  flex: none;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 10px;
  height: 5.625rem;
  justify-content: center;
  left: calc(50.00000000000002% - 90px / 2);
  overflow: visible;
  padding: 0;
  position: absolute;
  top: calc(50.00000000000002% - 90px / 2);
  width: 5.625rem;
  z-index: 2;
  transition: opacity 0.5s ease;
}

.work-card-content:hover .linear-overlay {
  opacity: 1; /* On hover, the overlay covers the entire image */
}

.work-card-content:hover .work--card-arrow {
  opacity: 1;
}

.work--card_svg {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%; 
  height: 100%;
  aspect-ratio: inherit;
}

.work--info {
  align-items: flex-start;
  justify-content: flex-start;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  left: 0;
  overflow: visible;
  position: absolute;
  right: 0;
  bottom: 0;
  margin: 1.5rem;
  z-index: 1;
  transition: opacity 0.5s ease;
}

.work--info_title {
  margin: 0;
  color: rgb(245, 245, 245);
  font-size: 26px;
  font-weight: 700;
  line-height: 1.3em;
}

.work--info_description {
  font-size: 16px;
  color: rgb(163, 163, 163);
}

.work--categories {
  align-content: center;
  align-items: center;
  display: flex;
  flex: none;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 10px;
  height: min-content;
  justify-content: flex-start;
  left: 0;
  overflow: visible;
  position: absolute;
  right: 0;
  top: 0;
  margin: 1rem;
  z-index: 1;
  transition: opacity 0.5s ease;
}

.work--category-button {
  backdrop-filter: blur(4px);
  background-color: rgba(21, 21, 21, 0.6);
  border-radius: 20px;
  opacity: 1;
  align-content: center;
  align-items: center;
  display: flex;
  flex: none;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 10px;
  height: min-content;
  justify-content: center;
  overflow: visible;
  position: relative;
  padding: 9px 14px
}

.work--category-text {
  color: rgba(245, 245, 245, 0.7);
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  text-align: center;
  margin: 0;
}

.work-card-content:hover .work--categories {
  opacity: 0;
}
.work-card-content:hover .work--info {
  opacity: 0;
}

.footer {
  display: flex;
  gap: 2.5rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 5rem;
  padding: 6rem 0;
  width: 100%;
  border-radius: 20px;
  background-color: #EDEDED;
}

.about {
  margin-top: 3rem;
  gap: 1.5rem;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.about--side {
  text-align: start;
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  width: calc(100% - 1.8rem - 2rem);
  border-radius: 20px;
  background-color: #EDEDED;
}

.about--title{
  font-size: 2.25rem;
  margin: 0;
  font-weight: 700;
  letter-spacing: 0;
  font-family: "Rajdhani", sans-serif;
}

.about--description{
  margin-top: 1rem;
}

.about--description_text {
  font-size: 1.25rem;  
}

.about--subtitle{
  font-size: 1.625rem;
  margin: 0;
  font-weight: 600;
  letter-spacing: 0;
  font-family: "Rajdhani", sans-serif;
}

.skill--card{
  background-color: #D4D4D4;
  border-radius: 12px;
  display: flex;
  gap: 1.5rem;
  padding: 0.6rem;
  white-space: nowrap;  
}

.skill-name {
  margin: 0;
  font-size: 1.2rem;
  font-weight: 600;
  color: black;
}

.skill-description{
  margin: 0;
  font-size: 16px;
}

@keyframes moveRightToLeft {
  0% { transform: translateX(0%); }
  100% { transform: translateX(-50%); }
}

@keyframes moveLeftToRight {
  0% { transform: translateX(-50%); }
  100% { transform: translateX(0%); }
}

.skill--card-row-1,
.skill--card-row-2 {
  display: flex;
  width: 200%;
  gap: 1.5rem;
}

.skill--card-row-1 {
  animation: moveRightToLeft 20s linear infinite;
}

.skill--card-row-2 {
  animation: moveLeftToRight 20s linear infinite;
}

.skills-container {
  margin-top: 1.5rem;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  gap: 1.5rem;
}

.skill--card-row {
  display: flex;
  width: 200%;  /* Ensuring the width is enough to contain duplicates for seamless animation */
}

.experience {
  position: relative;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  margin-top: 1.5rem;
  gap: 1rem;
  width: 100%;
}

.experience--card {
  display: flex;
  background-color: #D4D4D4;
  padding: 1rem 0.6rem;
  gap: 1.5rem;
  border-radius: 0.75rem;
  width: calc(100% - 1.1rem - 0.1rem);
}

.active{
  border-style: solid;
  border-color: #9B3B12;
}

.experience--year {
  margin: 0;
  font-size: 14px;
}

.experience--company {
  margin: 0;
  font-size: 14px;
}

.experience--title {
  margin: 0;
  font-size: 16px;
}

.about--avatar_container {
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.article--cards-container {
  width: 100%;
  height: min-content;
  margin-top: 4rem;
  gap: 1rem;
  display: flex; 
  flex-wrap: wrap;
  box-sizing: border-box;
}

.article-card {
  width: calc(100% / 3 );
  aspect-ratio: 2 / 2;
  background-color: #EDEDED;
  padding: 1rem;
  position: relative;
  border-radius: 20px;
  border-style: solid;
  border-width: 4px;
  border-color: #9B3B12;
  padding-bottom: 2rem;
}

.article--card_header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.article--card_header > p {
  margin: 0;
  align-self: center;
}

.article--card_info {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  text-align: start;
  overflow: hidden;
  text-overflow: ellipsis;
}

.article--card_info_title {
  margin: 0;
  font-size: 22px;
  font-weight: 600;
}

.article--card-image_container {
  margin-top: 1rem;
  width: 100%; 
  height: 65%;
}

.article--card_image{
  width: 100%; 
  height: 100%;
  border-radius: 16px;
}

.article--topic{
  background-color: #D4D4D4;
  border-radius: 8px;
  padding: 0.5rem;
}

.article--topic > p {
  margin: 0;
  font-weight: 600;
  font-family: "Rajdhani", sans-serif;
}



@media only screen and (max-width: 768px) {
  .app {
    padding: 0 0.8rem;
  }

  .section {
    margin-top: 4rem;
  }

  .navbar {
    left: 0.8rem;
    right: 0.8rem;
    top: 15px; /* Adjusting space on top for mobile */
    padding: 2px 12px;
  }

  .home{
    padding: 0;
  }

  .hero{
    padding: 0;
  }

  .article-card {
    width: 100%;
  }
}
@media only screen and (min-width: 769px) {
  .app {
    padding: 0 3rem;
  }

  .navbar {
    left: 3rem;
    right: 3rem;
  }

  .hero--title{
    font-size: 56px;
  }
  .hero--description_text {
    font-size: 2rem;
  }
  .article--cards-container {
    flex-wrap: nowrap;
   }
  .article-card {
    width: calc(100% / 2);
  }
}

@media only screen and (min-width: 1022px) {
  .app {
    padding: 0 7.8rem;
  }
  .navbar {
    left: 7.8rem;
    right: 7.8rem;
  }
  .hero--left{
    width: 60%;
    text-align: left;
    align-items: baseline;
  }
  .hero--title{
    font-size: 68px;
  }
  .hero--description_text {
    font-size: 28px;
    line-height: 32px;
    margin: 0;
  }
  .section--header {
    font-size: 36px;
    line-height: 32px;
  }

  .work--cards-container {
    flex-direction: row;   /* Switch to row direction on larger screens */
    flex-wrap: wrap;       /* Allow wrapping */
  }

  .work-card {
    width: calc(50% - 0.8rem); /* Subtracting the gap to ensure proper alignment */
    box-sizing: border-box;    /* Ensuring padding and borders are included in width */
  }

  .about {
    gap: 1.5rem;
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 3rem 0;
  }

  .about--side {
    width: calc(50% - 0.8rem);
  }

  .experience--year {
    margin: 0;
    font-size: 16px;
  }
  
  .experience--company {
    margin: 0;
    font-size: 16px;
  }
  
  .experience--title {
    margin: 0;
    font-size: 18px;
  }

  .article--cards-container {
   flex-wrap: nowrap;
  }
}
